
  <!-- Start footer -->
  <footer id="mu-footer">
        <!-- start footer top -->
        <div class="mu-footer-top">
          <div class="container">
            <div class="mu-footer-top-area">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="mu-footer-widget">
                    <ul>
                      <li style="display:inline;padding-left:10px;"><a href="{{ "/legal/privacypolicy.html" | absolute_url }}">Privacy Policy</a></li>
                      <li style="display:inline;padding-left:10px;"><a href="{{ "/legal/privacynotice.html" | absolute_url }}">Privacy Notice</a></li>                    
                      <li style="display:inline;padding-left:10px;"><a href="{{ "/legal/cookiepolicy.html" | absolute_url }}">Cookie Policy</a></li>
                      <li style="display:inline;padding-left:10px;"><a href="{{ "/legal/cookie.html" | absolute_url }}">Cookies</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
      </footer>