<header id="mu-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-header-area">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="mu-header-top-left">
                <div class="mu-top-email">
                  <i class="fa fa-envelope"></i>
                  <span><a href="mailto:infor@oktapath.com" rel="nofollow">info@oktapath.com</a></span>
                </div>
                <div class="mu-top-phone">
                  <i class="fa fa-phone"></i>
                  <span><a href="tel:+353-87-6306468" rel="nofollow">Enquiries</a></span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="mu-header-top-right">
                <nav>
                  <ul class="mu-top-social-nav">
                    <li><a rel="noreferrer" href="https://www.facebook.com/Oktapath-113306820474516" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="https://twitter.com/oktapath" rel="noreferrer" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="https://www.linkedin.com/company/oktapath" rel="noreferrer" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                    <li><a rel="noreferrer" href="https://www.github.com/oktapath" target="_blank"><span class="fa fa-github"></span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
