<section id="mu-menu">
<nav class="navbar navbar-default" role="navigation">  
  <div class="container">
    <div class="navbar-header">
      <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- IMG BASED LOGO  -->
      <a class="navbar-brand" href="{{ "/" | absolute_url }}" ><img class="lazyload" data-src="/assets/img/logoonly.webp" style="height:50px;width:60px;display:inline" alt="logo"><span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">Oktapath</span></span></a> 
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
        <li><a href="{{ "/" | relative_url }}" alt="home page">Home</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" alt="posts">Posts<span class="fa fa-angle-down" style="padding-left:5px;"></span></a>
        <ul class="dropdown-menu" role="menu">
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul></li>
        <li><a href="{{ "/tags/" | relative_url }}" alt="tags page">Tags</a></li>   
        <li><a href="{{ "/about/" | relative_url }}" alt="home page">About</a></li>         
      </ul>                     
    </div><!--/.nav-collapse -->        
  </div>     
</nav>
</section>

