<section id="mu-menu">
<nav class="navbar navbar-default" role="navigation">  
  <div class="container">
    <div class="navbar-header">
      <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- LOGO -->              
      <!-- TEXT BASED LOGO -->
      <!-- <a class="navbar-brand" href="index.html"><i class="fa fa-university"></i><span>Oktapath</span></a>-->
      <!-- IMG BASED LOGO  -->
      <a class="navbar-brand" href="{{ "/index.html" | absolute_url }}" ><img class="lazyload" data-src="/assets/img/logoonly.webp" style="height:50px;width:60px;display:inline" alt="logo"><span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">Oktapath</span></span></a> 
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
        <li class="active"><a href="{{ "/index.html" | absolute_url }}" alt="home page">Home</a></li>            
      </ul>                     
    </div><!--/.nav-collapse -->        
  </div>     
</nav>
</section>